.chat-nav:hover {
    background-color: #7C7341;
}

.chat-conversation:hover {
    border-color: #4DA1FF;
    background-color: #EFF6FE;
}

#left-arrow:hover,
#right-arrow:hover {
	background-color: #4DA1FF;
    color: #fff;
}

#calendar-body .row .future:hover {
    -webkit-box-shadow: inset 0px 0px 0px 1px #4DA1FF;
    -moz-box-shadow: inset 0px 0px 0px 1px #4DA1FF;
    box-shadow: inset 0px 0px 0px 1px #4DA1FF;
}

#month:hover .tooltip {
    display: inline-block;
}

.chat-conversation:hover .message-important:after {
    background: -moz-linear-gradient(45deg, #fece27 0%, #fece27 50%, #EFF6FE 50%, #EFF6FE 100%);
    background: -webkit-linear-gradient(45deg, #fece27 0%, #fece27 50%, #EFF6FE 50%, #EFF6FE 100%);
    background: linear-gradient(45deg, #fece27 0%, #fece27 50%, #EFF6FE 50%, #EFF6FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fece27', endColorstr='#EFF6FE', GradientType=1);
}

