.flexbox-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}

body {
    background-color: #F4F7F9;
    margin: auto;
    max-width: 1440px;
    height: 100vh;
}


